.footer {
  height: 400px;
}
.claremont-pic {
  padding: 0;
  animation-name: rotatelogo;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin-top: 200px;
}

@keyframes rotatelogo {
  100% {
    transform: rotate(360deg);
  }
}
