main {
  background-color: $off-white;
  padding: 40px 0;
}

.project {
  background-color: white;
  border-radius: 30px;
  text-align: center;
  text-align: left;
  position: relative;
  cursor: pointer;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);

  h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }

  &-delete {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      color: darken($primary-grey, 10);
      cursor: pointer;
      background: none;
      border: none;

      &:hover {
        color: darken($primary-grey, 20);
      }
    }
  }

  &-status {
    background: none;
    border: none;
    font-style: italic;
    color: #333;
    cursor: pointer;
  }

  &-description {
    margin-top: 15px;
    font-size: 1.1rem;
    font-family: CircularStd-Book, sans-serif;
  }
}

.project__content {
  padding: 18px;
}

.project__footer {
  background-color: lighten($off-white, 4);
  padding: 20px 40px;
  display: flex;
  align-items: center;

  .circle {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: $accent-2;
    margin-right: 15px;
  }
}

* {
  outline: none;
}

.Modal {
  @extend .project;
  padding: 25px 30px;
  background-color: $off-white;
  width: 325px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:focus {
    outline: none;
  }
}

.projectList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}

.fa {
  font-size: 30px;
}

.modalItems {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .edit {
    border: none;
    background-color: $dark;
    padding: 7px 12px;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: lighten($dark, 10);
    }
  }
}

.modalForm {
  display: flex;
  flex-direction: column;

  textarea {
    border: none;
    padding: 5px 8px;
    font-family: inherit;
  }

  input {
    border: none;
    background-color: $accent;
    padding: 7px 12px;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: lighten($accent, 10);
    }
  }
}

textarea.titelfalse,
textarea.titel {
  font-size: 18px;
}

textarea.descriptionfalse,
textarea.description {
  margin: 10px 0px;
}

textarea:focus {
  border-color: rgb(75, 75, 75);
}

.createProjectField {
  border-radius: 3px;
  resize: none;
  border-color: rgb(169, 169, 169);
}

.nonInteractive {
  background-color: transparent;
  border: none;
  cursor: default;
}

.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  background-color: rgba(33, 31, 87, 0.75) !important;
}

@media (max-width: 750px) {
  .projectList {
    grid-template-columns: repeat(1, 1fr);
  }
}
