main {
  background-color: $primary-grey;
  padding: 40px 0;
}

.project {
  background-color: white;
  border-radius: 14px;
  text-align: center;
  padding: 20px 40px;
  text-align: left;
  position: relative;
  cursor: pointer;

  h2 {
    margin-bottom: 10px;
    font-size: 2.8rem;
  }

  &-delete {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      color: darken($primary-grey, 10);
      cursor: pointer;
      background: none;
      border: none;

      &:hover {
        color: darken($primary-grey, 20);
      }
    }
  }

  &-status {
    background: none;
    border: none;
    font-style: italic;
    color: #333;
    cursor: pointer;
  }

  &-description {
    margin-top: 20px;
    font-size: 1.4rem;
  }
}
* {
  outline: none;
}

.Modal {
  @extend .project;
  background-color: #f1f1f1;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:focus {
    outline: none;
  }
}

.projectList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 40px;
}

.fa {
  font-size: 30px;
}

.modalForm {
  display: flex;
  flex-direction: column;
}

textarea.createProjectField {
  resize: none;
  height: 100px;
  margin: 10px 0px;
}

@media (max-width: 750px) {
  .projectList {
    grid-template-columns: repeat(1, 1fr);
  }
}
